@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #ffffff;
}

h1 {
  background: linear-gradient(to right, #e4e1f8, #e4e1f8cc);
  background-clip: text;
  color: transparent;
}
h1 span {
  background: linear-gradient(to right, #f8c534, #f5d37a);
  background-clip: text;
  color: transparent;
}
