@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #ffffff;
}

.PickUp {
  background-image: url("./assets/Map.svg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
